workflows/n8n/new-booking.json
{
  "name": "New Booking Workflow",
  "nodes": [
    {
      "parameters": {
        "path": "new-booking",
        "httpMethod": "POST",
        "responseMode": "onReceived"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        280
      ]
    },
    {
      "parameters": {
        "functionCode": "return [{ json: { bookingId: $json.body.bookingId, email: $json.body.email, payload: $json.body } }];"
      },
      "name": "Normalize Booking",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        480,
        280
      ]
    },
    {
      "parameters": {
        "url": "http://api:3000/bookings",
        "method": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "={{$json.payload}}"
      },
      "name": "Create Booking",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        720,
        280
      ]
    },
    {
      "parameters": {
        "fromEmail": "ops@jetoncargo.com",
        "toEmail": "cargo@airline.com",
        "subject": "New Cargo Booking",
        "text": "New booking: {{$json.bookingId}}"
      },
      "name": "Notify Airline",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        960,
        210
      ]
    },
    {
      "parameters": {
        "fromEmail": "ops@jetoncargo.com",
        "toEmail": "={{$json.email}}",
        "subject": "Booking Confirmed",
        "text": "Your booking has been received successfully."
      },
      "name": "Notify Customer",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        960,
        360
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Booking": {
      "main": [
        [
          {
            "node": "Create Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Booking": {
      "main": [
        [
          {
            "node": "Notify Airline",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
